################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cognito.Console/bin/Debug
/Cognito.Console/obj/Debug
/packages
*.suo
/bin
/obj
